<h2>My Heroes</h2>
<ul class="heroes">
	<li *ngFor="let hero of heroes"><span class="badge">ID:&nbsp;{{hero.heroId}},&nbsp;Name:&nbsp;{{hero.heroName}}</span>
		<span *ngIf="hero.weapons?.length > 0">,&nbsp;Weapons:&nbsp;</span>
		<span *ngFor="let weapon of hero.weapons; let last = last">
			<span>{{weapon.weaponName}}<span *ngIf="!last">, </span></span>
		</span>.
	</li>
</ul>
